# ======================
# OS
# ======================
.DS_Store

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Node / Frontend
# ======================
crm-frontend/node_modules/
crm-frontend/dist/
crm-frontend/.env

# ======================
# Java / Backend
# ======================
backend/target/
backend/*.log
backend/*.class

# ======================
# Environment
# ======================
.env
